@import "tailwindcss";

@theme {
  --color-brand-50: #1F1A0F;
  --color-brand-400: #EF9F27;
  --color-brand-600: #BA7517;
  
  --color-surface-900: #0F0F0F;
  --color-surface-800: #111111;
  --color-surface-700: #1A1A1A;
  
  --color-line: #2E2E2E;
  
  --color-ink: #E8E3DB;
  --color-ink-muted: #7A7368;
  --color-ink-faint: #4A4540;
}

@plugin "daisyui" {
  /* themes: light; */
}